{% extends 'base.html.twig' %}

{% block body %}
    <div id="wrapper">
        <div id="container">
            <form action="{{ path('answer') }}" method="post">
                {% for q in questions %}
                    {{ q.question }}

                    <ol>
                        {% for r in q.responses %}
                            <li>
                                <input type="radio" name="{{ r.question.code }}" value="{{ r.code }}">
                                {{ r.value }}</li>
                        {% endfor %}
                    </ol>
                {% endfor %}
                <input type="submit" value="Send my response">
            </form>
        </div>
    </div>
{% endblock %}

{% block stylesheets %}
{% endblock %}
